:root {
    /*Colors*/
    --color-text: #fff;
    /*Property to define the primary color of the website*/
    --color-primary: #576cbc;
    /*Property to define secondary color*/
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    /*Defining background color*/
    --color-bg: #04152d;


    /*Defining the font used*/
    --font-robot: "Roboto";
    

}