/*Targetting every element in the webpage*/
* {
  /*Box is considered when deciding the width and height of the object*/
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;

}

html {
  scroll-behavior: smooth;
}
